<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice Game</title>
    <link rel="icon" href="../static/img/logo.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <!-- Link to JavaScript -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
    <div class="game-container container-fluid d-flex justify-content-center align-items-center vh-100">
        <div>
            <h1 class="roll">Roll Dice Game</h1>

            <!-- Input Section -->
            <form class="form">
                <h2>Enter the number of turns:</h2>
                <input type="number" id="turns" value="5" min="1">
            </form>

            <!-- Score Section -->
            <div class="row score-section">
                <div class="col-6">
                    <h2>Computer's Score</h2>
                    <h2 class="score" id="comp_score">0</h2>
                </div>

                <div class="col-6">
                    <h2>User's Score</h2>
                    <h2 class="score" id="user_score">0</h2>
                </div>
            </div>

            <!-- Roll Button -->
            <div class="result-section">
                <button class="button" onclick="set_turns()" type="button">Turns</button>
                <button class="button" id="roll_button" onclick="roll()" type="button">Roll Dice</button>
            </div>

            <!-- Total Scores -->
            <div class=" row score-section">
                <div class="col-6">
                    <h2>Computer's Total Score</h3>
                        <h2 class="score" id="comp_total_score">0</h2>
                </div>

                <div class="col-6">
                    <h2>User's Total Score</h2>
                    <h2 class="score" id="user_total_score">0</h2>
                </div>
            </div>

            <!-- Result Section -->

            <div class="result-section">

                <button type="button" class="button" onclick="show_result()">Result</button>

                <button type="button" class="button" onclick="refreshPage()">Play Again</button>




            </div>
            <div>
                <h2 class="score" id="result">Start the game!</h2>
            </div>


            <div id="links"><a href="https://github.com/JitendraPra40" target="_blank">Github</a> <a
                    href="https://www.linkedin.com/in/jitendra-prajapati-14724b250/" target="_blank">Linkedin</a></div>
        </div>

    </div>



    <div id="customPopup" class="popup-overlay" style="display:none;">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <p id="popupMessage"></p> <!-- Dynamic message here -->
        </div>
    </div>



    <div id="messagePopup" class="popup-overlay" style="display:none;">
        <div class="popup-content">
            <p id="messageText">Your message goes here</p>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>